on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * 1'

jobs:
  get-versions-diff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - id: versions-diff
        run: |
          pip install -r requirements.txt
          echo "::set-output name=matrix::$(./check_updates.py | jq -R -s -c 'split("\n")[:-1]')"
          echo "SHORT_VERSIONS=$(python3 -c "from check_updates import print_short_versions; print_short_versions()"| jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT
    outputs:
      matrix: ${{ steps.versions-diff.outputs.matrix }}
      short_versions: ${{ steps.versions-diff.outputs.SHORT_VERSIONS }}

  create-branch:
    runs-on: ubuntu-latest
    needs: get-versions-diff
    if: ${{ needs.get-versions-diff.outputs.matrix != '[]' }}
    strategy:
      matrix:
        versions: ${{ fromJson(needs.get-versions-diff.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: get short version
        id: get-short-version
        run: |
          pip install -r requirements.txt
          echo "SHORT_VERSION=$(python3 -c 'from check_updates import get_short_version; print(get_short_version("${{ matrix.versions }}"))')" >> $GITHUB_OUTPUT
      - uses: peterjgrainger/action-create-branch@v2.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: ${{ steps.get-short-version.outputs.SHORT_VERSION }}/stable
          sha: '${{ github.event.pull_request.head.sha }}'
      - name: clone
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.get-short-version.outputs.SHORT_VERSION }}/stable
      - name: get version
        id: get-version
        run: |
          echo "LONG_VERSION=$(cat rockcraft.yaml | yq e '.version')" >> $GITHUB_OUTPUT
      - name: inject-version
        run: |
          sed -i "s:${{ steps.get-version.outputs.LONG_VERSION }}:${{ matrix.versions }}:g" rockcraft.yaml
      - name: commit
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com
          git add rockcraft.yaml
          git commit -m "Prepare release of version ${{ steps.get-short-version.outputs.SHORT_VERSION }}/stable"
      - name: push
        run: git push origin ${{ steps.get-short-version.outputs.SHORT_VERSION }}/stable

  publish:
    name: Publish Rock
    needs: [get-versions-diff, create-branch]
    strategy:
      matrix:
        versions: ${{ fromJson(needs.get-versions-diff.outputs.matrix) }}
    uses: ./.github/workflows/publish.yaml
    secrets: inherit
    with:
      tag: ${{ matrix.versions }}/stable
